{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">
      <h1>About Fearless Beauty</h1>

        <div class="jumbotron"><h2>Fearless Beauty empowers underprivileged women. By providing education and mentorship, we are building communities founded in mindfulness, support, and inclusivity. Fearless women will create a sustainable income for themselves using beauty as a tool to liberate and heal.</h2></div>


        <!-- <div class="col-xs-3 pull-left">
        </div>

        <div class="col-xs-7 pull-right"> -->

          <img src="/img/1200/logo-icon.png" class="pull-left" style="transform: scale(0.7, 0.7); margin-top: -50px;"/>

          <p>It started with a desire to make a change: To help underprivileged young women in India find a way to transform their lives - through the power of beauty.</p>

          <p>Partnering with the Khushi Foundation, a charity that provides medical, educational and spiritual support to the children of Rishikesh, India, Fearless Beauty empowers women to defy the odds of oppression and gender inequality.</p>

          <p>Our non-profit organization teaches participants the art and trade of hairstyling, instilling a passion for success through mentorship and giving them the tools to earn a sustainable and fulfilling livelihood.</p>

          <p>Founded in NYC. Inspired in India. Ready to go beyond. Fearless Beauty.</p>

        <!-- </div> -->




      <h1>Fearless Beauty Board</h1>

        <h2>Heather Packer (Founder)</h2>

        <img src="/img/1200/about.heather.jpg" class="pull-left"/>

        <p>Heather Packer, a New York City hair stylist with over a decade of experience, is the founder of Fearless Beauty, a non-profit organization to empower women in India through beauty education and empowerment, which launched in October 2014. Her background melds business, beauty and interestingly, yoga, giving her an innate interest in the history and culture of India and its people.</p>

        <p>Packer received a business degree from St. Thomas University and attended beauty school, both in Miami, before moving to New York City to begin her career. In just three years her career had taken flight, honing her skills at Bumble & Bumble and assisting the acclaimed stylist Jimmy Paul. Working alongside Paul, she styled fashion shows in New York, Paris and Milan; worked with celebrities such as Jennifer Lopez, Kate Hudson, Keira Knightley and Cate Blanchett and executed editorial shoots for the industry's most prominent magazines: Vogue, Italian Vogue, French Vogue and ID.</p>

        <p>In 2007, Packer began working at Cutler Salon as a stylist, eventually deepening her role at the salon by creating the editorial hair styling curriculum for incoming and prospective stylists. As an innate educator, she was fulfilled by this additional role to teach incoming stylists both the technical and social skills required in the hair industry.</p>

        <p>In the course of pursuing her professional career, Packer led a fervent yoga practice, even completing three yoga teacher trainings with Yoga Works and Conquering Lion in New York City and Sattva Yoga in India. It was in the seven years practicing with her teacher, Anand Mehrotra, the founder of the Khushi Foundation in India, that she began to realize the importance of volunteer work. From 2011 to 2014, she co-led service-based yoga retreats to India and led the creation of a fund to create a vocational center for impoverished Indian teenagers, both women and men.</p>

        <p>In spring 2014, the idea for Fearless Beauty came to her. "One day I asked myself what I would do if I was not afraid. This program was the answer," Packer said. "I am passionate about the personal and economic empowerment of young women and I had been looking for a way to use my craft and love of teaching to make a difference."</p>

        <p>In early 2015, Packer traveled to Rishikesh to launch the inaugural class of Fearless Beauty, a three-month vocational program, based on a tailored version of Cutler's haircutting curriculum. She volunteered her time to teach hair cutting, hair styling, and hair care to ten teenage girls supported by the Khushi Foundation.</p>

        <p>"My vision was to launch a program that inspires other hairdressers across the country to volunteer and teach," said Packer. "The skills hairstylists use every day are universal. People around the world can learn this trade and become empowered, and economically self-sufficient. Sharing our skills can make a difference."</p>

        <h2>Eve Simonsen Martinez (Founding Board Member)</h2>

        <p>With strong ties to the creative community and a dynamic commitment to strategic development, Eve Simonsen Martinez excels as director of events for Three Kings Restaurant Group, which includes TALDE, Carrino Provisions, Thistle Hill, and Pork Slope. Prior to this role she was a founding employee of the mission-driven event production and marketing firm Agent of Change, where she rose from managing director to director of events. At Agent of Change Eve developed and produced events for international leaders and global nonprofits such as Johns Hopkins University, Tibet House US, Lower Eastside Girls Club, Equality Now and the Headstrong Project, among several others.</p>

        <p>Before moving to New York in 2004, she served as coordinating arts and entertainment editor at the Philadelphia Weekly and ignited her career in event planning as part of Squarebiz, a small startup company headed by Ahmir "?uestlove" Thompson of The Roots. Eve also produced various musical events in the greater Philadelphia area, including a 2002 NBA All-Star showcase, album release parties, and tastemaker soirees with the likes of Common, Eve, DJ Jazzy Jeff, DJ Premier, and Pete Rock.</p>

        <p>Eve's professional scope has also included community-focused endeavors and forays into mind-body connectivity. She is a certified holistic health coach from the Institute for Integrative Nutrition and graduated from Dharma Mittra's intensive yoga teacher training in 2005.</p>

        <p>Eve volunteers regularly throughout the New York City area and has worked extensively, as an activist and consultant, with Donna Karan's Urban Zen Foundation.</p>

        <h2>Danielle Corcione (Founding Board Member)</h2>

        <p>With unique personal and professional commitments to victim advocacy, Danielle Corcione is helping to redefine how we represent those in need.</p>

        <p>Since 2012 Danielle has served as an Assistant United States Attorney for the District of New Jersey where she focuses on healthcare and government fraud prosecutions. Prior to this she was Senior Privacy Counsel with Avon Products Inc. and held associate positions with New York City law firms White & Case LLP and Linklaters LLP.</p>

        <p>An active volunteer, Danielle has applied her skills and leveraged her resources to support local and global goodwill initiatives. Since 2008 she has served on the leadership council (formerly advisory board) for the Young Women's Leadership Network.  From 2009 through 2012, she served on the NYC Bar Association, Women in the Profession Committee. Danielle also serves as a member of the board for Fearless Beauty, a non-profit organization to empower women in India through beauty education and empowerment, which launched in October 2014.</p>

        <p>Valued for her professional versatility, Danielle is a natural collaborator who thrives on independence. Her expert abilities in strategy, organization, and problem solving lend themselves seamlessly to charitable and corporate initiatives.</p>

        <p>Danielle is an honors graduate from University of Massachusetts Amherst and earned her law degree from New York Law School, where she also graduated with honors.</p>


      <!-- <h1>Press and on the Web</h1>
        {% for press in configs.featured.press %}
          <p><a href="{{press.url}}" taret="_blank">{{press.title}}</a> ({{press.date}})</p>
        {% endfor %} -->

    </div>
{% endblock %}

