{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript">var comic = {{comic|json_encode|raw}};</script>
    <script type="text/javascript" src="/js/views/comics.js"></script>
    <link rel="stylesheet" href="/css/comics.css">
{% endblock %}
{% block body %}
	{{ parent() }}
    <div id="viewer"></div>
    <h4>{{ comic.title }}</h4>
    <div id="thumbnails">
      {% for part in comic.parts %}
      <header data-part="{{loop.index0}}">{{part.title}}</header>
      <section data-part="{{loop.index0}}">
        {% for panel in part.panels %}
        <div class="thumbnail"><img src="{{panel}}" data-part="{{loop.parent.loop.index0}}" data-panel="{{loop.index0}}"/></div>
        {% endfor %}
      </section>
      {% endfor %}
    </div>
    <br /><a href="/" class="btn btn-info">&lt; Back home</a><br />
{% endblock %}

